<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="row">
<div class="col-sm-4"></div>
  <div class="col-sm-8">

    <h1>Login</h1>
    <form action="/login" method="post">
      <label for="email">Ingrese su correo electronico: </label>
      <input name="email" type="text"/>
      <br/>

      <label for="password">Su contraseña:                </label>
      <input name="password" type="password"/>
      <br/>
      <input type="submit"/>

  </div>
</div>
</form>
<div class="row">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-6">

    <img class="center-block" src="http://www.tvnotas.com.mx/sites/default/files/styles/644xy/public/recetas/2017/02/07/tvn-07022017143214.jpg?itok=OSRbXZup" alt="Pizza">
  </div>
</div>


</body>
</html>




