<h1>Login</h1>
<form action="/login" method="post">

  <label for="email">Ingrese su correo electronico: </label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Su contraseña: </label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
