<h1>Registro del usuario</h1>


<form action="/signup" method="post">

  <label for="name">Escriba su nombre:</label>
  <input name="name" type="text"/>
  <br/>

  <label for="email">Escriba su correo</label>
  <input name="email" type="text"/>
  <br/>

  <label for="password">Escriba una contraseña</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
