<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>


<h1 style="color: darkorchid;">Pizzas "PoliPizza" te da la bienvenida</h1>

<h2 style="color: #83cdff">Seleccione una pizza</h2>


<div class="row">


  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="w3-card-4 w3-dark-grey">

      <div class="w3-container w3-center">
        <h3>Pizza de Salami</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFmZ_YMYCRf5VF2k77rJu0oHkKLELL1q4RjUhxCf7nCnKjEX8O" alt="Avatar" style="width:80%">
        <h5>Ingredientes:Salami,Queso</h5>
        <h6>Precio:11 dolares</h6>

        <button class="w3-button w3-green">Comprar</button>
        <button class="w3-button w3-red">Ver mas informacion</button>
      </div>

    </div>

  </div>

  <div class="col-sm-2"></div>

  <div class="col-sm-4">
    <div class="w3-card-4 w3-dark-grey">
      <div class="w3-container w3-center">
        <h3>Pizza de Peperoni</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFmZ_YMYCRf5VF2k77rJu0oHkKLELL1q4RjUhxCf7nCnKjEX8O" alt="Avatar" style="width:80%">
        <h5>Ingredientes:Salami,Queso</h5>
        <h6>Precio:11 dolares</h6>

        <button class="w3-button w3-green">Comprar</button>
        <button class="w3-button w3-red">Ver mas informacion</button>
      </div>

    </div>

  </div>

  <div class="col-sm-1"></div>



</div>

<a href="/logout">Cerrar sesión</a>

</body>
</html>



